{
  "Entries": [
    {
      "RequestUri": "/subscriptions/2c224e7e-3ef5-431d-a57b-e71f4662e3a6/resourcegroups/onesdk2865?api-version=2014-04-01-preview",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"error\": {\r\n    \"code\": \"ResourceGroupNotFound\",\r\n    \"message\": \"Resource group 'onesdk2865' could not be found.\"\r\n  }\r\n}",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31968"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-GetNonExistingResourceGroup": [
      "onesdk2865"
    ]
  },
  "Variables": {
    "SubscriptionId": "2c224e7e-3ef5-431d-a57b-e71f4662e3a6",
    "Username": "aogail@microsoft.com",
    "Tenantd": null
  }
}