{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/applications?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication3393\",\r\n  \"homepage\": \"http://adApplication3393/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication3393/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication3393/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"46ccae88-9353-4b92-807f-408c5d372730\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"appId\": \"f648a4c7-cdd1-472a-a9ac-f5ad47411bdb\",\r\n  \"appMetadata\": null,\r\n  \"appPermissions\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication3393\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication3393/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication3393/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication3393/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "SiHd4jexki3ezItjhrkMIbTXEBsGIIVORcsMT2z/ySY="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "IVFd_sP9Nsg2MeoFPmJkCRNhZSfrC1k_6-UHl8r27q4AzLyk1Bipm55bljY2KbWFeFJFFq1Zzn8EzDweqCoCk071TG-HbhV37SvHrefty-pT5hTkWETEZNp4SmzHIjxs4AR2M1xGYebyNu0iS_VxTA.-YEubw66V5QH3zMOsphnwsBk1crT1NAvh0opC2sI_Rk"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/46ccae88-9353-4b92-807f-408c5d372730/Microsoft.WindowsAzure.ActiveDirectory.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"f648a4c7-cdd1-472a-a9ac-f5ad47411bdb\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"db1f4bb7-f27b-4096-bcdf-6c9235dd3e51\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"appDisplayName\": \"adApplication3393\",\r\n  \"appId\": \"f648a4c7-cdd1-472a-a9ac-f5ad47411bdb\",\r\n  \"appMetadata\": null,\r\n  \"appOwnerTenantId\": \"1449d5b7-8a83-47db-ae4c-9b03e888bad0\",\r\n  \"appPermissions\": [],\r\n  \"authenticationPolicy\": null,\r\n  \"displayName\": \"adApplication3393\",\r\n  \"errorUrl\": null,\r\n  \"explicitAccessGrantRequired\": false,\r\n  \"homepage\": \"http://adApplication3393/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"microsoftFirstParty\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publisherName\": \"RBAC Testing\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication3393/home\"\r\n  ],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"f648a4c7-cdd1-472a-a9ac-f5ad47411bdb\",\r\n    \"http://adApplication3393/home\"\r\n  ],\r\n  \"tags\": [],\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "SiHd4jexki3ezItjhrkMIbTXEBsGIIVORcsMT2z/ySY="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "FHDaJjkpY0Qq4JjL9lfFbHxVIfdMvqKZveoDSB8fISgDe32CHY0tmT-OAZsNEXnbUqnrQeDppUmeyvjEERSA_qaLPhvxDvDiFBmURvnWUMdhYruDBitEKBplCSgzrKWU0cNQ7cAsBpn1SE5u_L6lVQ.7v6m9HOKEzRf2HoGI8fciCYmNqU2fthGt1EHiQ0EwwA"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/db1f4bb7-f27b-4096-bcdf-6c9235dd3e51/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals/db1f4bb7-f27b-4096-bcdf-6c9235dd3e51?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure[...]
[...]
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/applications/46ccae88-9353-4b92-807f-408c5d372730?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "SiHd4jexki3ezItjhrkMIbTXEBsGIIVORcsMT2z/ySY="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "Xt-FrDJ_Kl8vRWno-C3rLXnFGwONFoavKfmJ6nkOsBjfcuXN_6yeoqlOkhAFsWocTMBvINb2lO5MfeXP4hc7wl95EeC5T1BRHXzdFkBiS8lRp6akT6ImeET2C-csHkS_1xDm9z4o0ZYKu-P1mxrZFg.kbuKtmb8j8sS0JwCGGwJMrdWbOkEKwBFFGihLnUqbv0"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "CreateNewAdApp": [
      "adApplication3393"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0",
    "Domain": "rbactest.onmicrosoft.com"
  }
}