{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/users/d5fbb343-cf1d-47bb-9aa8-5c3dd57b336f?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource 'd5fbb343-cf1d-47bb-9aa8-5c3dd57b336f' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "MsH+7bNxSLKcmuX3JqvzScisCtZwuMTpgstB41T1Viw="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "E8fpm33Uv2k9gbOgIpjPFlSgQzeDSiVtU02Xy5Hh6xi1DdTp0UwgON0oP47D1FQ5Dgws0l_yn3U-k4hYTuLuYIR6-NA615-uKKklvvEOcw8.YQKTiEVoU4fmHN5jH9hv0U8GoXA3w1Gt-pFYtrUTGkY"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0"
  }
}