{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/applications?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication7402\",\r\n  \"homepage\": \"http://adApplication7402/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication7402/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication7402/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"2b859948-f0b4-42cb-afe6-00c01a708d43\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"appId\": \"6f5d2c55-5d6a-422c-bc20-3495c64ca07a\",\r\n  \"appMetadata\": null,\r\n  \"appPermissions\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication7402\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication7402/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication7402/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication7402/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jC0LEgyX+Xs4wMEfLHHxy6tdbt5rWMqcCmfvwI5RNyo="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "GRP67XHve0BiUSaWWdx6lJXBdIaHxkAuZ0RKVWfD4CpLD2533uODeKRLP-MKqK1EWRzKrYm5CopbWsWOpAgVnTYUj7EyDJlIsRqmeH0_2SZ6EBWQAv6RXspX9tCy4-9pXz0gU7FgxlpX040LQ2MOYQ.t36c-NhLjm22vm_-McdlOWAxLwx_YitL-oHaNVBGDiE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/2b859948-f0b4-42cb-afe6-00c01a708d43/Microsoft.WindowsAzure.ActiveDirectory.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"6f5d2c55-5d6a-422c-bc20-3495c64ca07a\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"722f8292-7751-45c6-abb9-0c0db8f718f1\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"appDisplayName\": \"adApplication7402\",\r\n  \"appId\": \"6f5d2c55-5d6a-422c-bc20-3495c64ca07a\",\r\n  \"appMetadata\": null,\r\n  \"appOwnerTenantId\": \"1449d5b7-8a83-47db-ae4c-9b03e888bad0\",\r\n  \"appPermissions\": [],\r\n  \"authenticationPolicy\": null,\r\n  \"displayName\": \"adApplication7402\",\r\n  \"errorUrl\": null,\r\n  \"explicitAccessGrantRequired\": false,\r\n  \"homepage\": \"http://adApplication7402/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"microsoftFirstParty\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publisherName\": \"RBAC Testing\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication7402/home\"\r\n  ],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"6f5d2c55-5d6a-422c-bc20-3495c64ca07a\",\r\n    \"http://adApplication7402/home\"\r\n  ],\r\n  \"tags\": [],\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jC0LEgyX+Xs4wMEfLHHxy6tdbt5rWMqcCmfvwI5RNyo="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "HIkw561LjLU9W5dbCQIBUNeBxl6hocJKcSdWXkwKoXVbT0MVZrYvg5tLq6Hg5EjUx9LJdPr5lAy7IocZHpr5UUK-VzjBa9XeiZrcWgTS_fB1Qnc6i1099Dp3nbmVaxCfZ3ECz-9dGDSb6TsfOHv3Bg.dVpHGI3oX-sK4ddgTWiL_fUt2itt8E8NwKUHMwBhZ4Y"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/722f8292-7751-45c6-abb9-0c0db8f718f1/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals?$filter=servicePrincipalNames/any(c:c%20eq%20'http:%2F%2FadApplication7402%2Fhome')&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"722f8292-7751-45c6-abb9-0c0db8f718f1\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"appDisplayName\": \"adApplication7402\",\r\n      \"appId\": \"6f5d2c55-5d6a-422c-bc20-3495c64ca07a\",\r\n      \"appMetadata\": null,\r\n      \"appOwnerTenantId\": \"1449d5b7-8a83-47db-ae4c-9b03e888ba[...]
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals/722f8292-7751-45c6-abb9-0c0db8f718f1?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jC0LEgyX+Xs4wMEfLHHxy6tdbt5rWMqcCmfvwI5RNyo="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "AHrK0_1bXdSk5XxxU2pEBprdxjpbTwkre54n3ZBIQeFRtxGKeowLXrklse85_IiW3XYS03H8GaFWDdvCm0DN5ELYaW39sNgoy_llB0HrKpIJBZCWmP5E8BnbamcCTftUA_lc_E-AmvGZ2NocgivvcQ.AG8Lwc1y3-tixjXrt4hJUJfBx1_xY6IAUuQH9vmkO2w"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/applications/2b859948-f0b4-42cb-afe6-00c01a708d43?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "jC0LEgyX+Xs4wMEfLHHxy6tdbt5rWMqcCmfvwI5RNyo="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "l6jgxaMrJJIGWFe9waQZTqAYpJhA4ud2i9DwGP5gjPeK_z_zxx7Ex_pa-VZa2nxW4mndFDy9OCVdLe7BDhGN8UChHJcPZnZk0Qdk0tG2LE92z0nDrJUvT93KvkcJdy_ixh2h8NmJbjSe4HE1CmFElQ.xdADrh_RjessTQy7NVnY03ysPTBhmMkaX5oqKid3ewc"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "<TestGetADServicePrincipalWithSPN>b__38": [
      "adApplication7402"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0",
    "Domain": "rbactest.onmicrosoft.com"
  }
}