{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/groups/7b45838f-42c3-4fef-a85a-0a9051dfda41?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '7b45838f-42c3-4fef-a85a-0a9051dfda41' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "HRG+aiSn0E9z3GzhPJ46HhJjFcqCria5fvIemYT7auo="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "UaSHyYW0m-l4oI2btQ9eunO0h4KaqCpK4GkKuiT03QZhoFffPQGba5Y4r8PT1Wq58u5hIz4myAyLZ0tB9InJaRhfo0i2CEInLgY-I9eVOiY.rFh5Q1mc2vXK_ArXtVhoIwK4dQNfAvj0ArDIeNkY--4"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0"
  }
}