{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals/7b45838f-42c3-4fef-a85a-0a9051dfda41?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.error\": {\r\n    \"code\": \"Request_ResourceNotFound\",\r\n    \"message\": {\r\n      \"lang\": \"en\",\r\n      \"value\": \"Resource '7b45838f-42c3-4fef-a85a-0a9051dfda41' does not exist or one of its queried reference-property objects are not present.\"\r\n    }\r\n  }\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "MsH+7bNxSLKcmuX3JqvzScisCtZwuMTpgstB41T1Viw="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "vk6RK-3LbAUjgJ65b_2beA10dlvb-9Nw5OhQU8Rfvn_5Plo_z99ln2nnyso7CukYlGwW-7VuUofL4NPum1vlLS-hGmw1wd4NXL3acLCKwG8.hNzEDlCDhTLPR7Riwhes28ohSO-CxeMbRF6un6irWmk"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0"
  }
}