{
  "Entries": [
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/applications?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication3662\",\r\n  \"homepage\": \"http://adApplication3662/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication3662/home\"\r\n  ],\r\n  \"replyUrls\": [\r\n    \"http://adApplication3662/home\"\r\n  ]\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Application/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Application\",\r\n  \"objectType\": \"Application\",\r\n  \"objectId\": \"6cf6cbab-3819-41eb-8e77-62f056015a5b\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"appId\": \"67a9d442-4966-43b9-9642-449d5bf19639\",\r\n  \"appMetadata\": null,\r\n  \"appPermissions\": [],\r\n  \"availableToOtherTenants\": false,\r\n  \"displayName\": \"adApplication3662\",\r\n  \"errorUrl\": null,\r\n  \"homepage\": \"http://adApplication3662/home\",\r\n  \"identifierUris\": [\r\n    \"http://adApplication3662/home\"\r\n  ],\r\n  \"keyCredentials\": [],\r\n  \"knownClientApplications\": [],\r\n  \"logoutUrl\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publicClient\": null,\r\n  \"replyUrls\": [\r\n    \"http://adApplication3662/home\"\r\n  ],\r\n  \"requiredResourceAccess\": [],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "LMVcl34Umd8EgPiXV4RUQjHSAddv4CQNq20AQpsfe4E="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "2u42H2MniHukUNCba2DhN4h1fZyKRQp9yxTt_EUC6b2i69dK5oOJ_08BbejK8DicAnd_u_PLq512wYFgI-PcLnOsZBlx9ias6sOXHbfN1p1YpJxMC7RAguX4PBe57kF8FfT02gulTdx8gZ-oCUQuvA.NYbkbZdgGT1Gl-S7SpVag4DP60EK9eWdOAilcNfn8mE"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/6cf6cbab-3819-41eb-8e77-62f056015a5b/Microsoft.WindowsAzure.ActiveDirectory.Application"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals?api-version=1.42-previewInternal",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"appId\": \"67a9d442-4966-43b9-9642-449d5bf19639\",\r\n  \"accountEnabled\": true\r\n}",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"objectType\": \"ServicePrincipal\",\r\n  \"objectId\": \"e3e930e7-4c88-45d2-bdce-f9ed7e86293c\",\r\n  \"softDeletionTimestamp\": null,\r\n  \"accountEnabled\": true,\r\n  \"appDisplayName\": \"adApplication3662\",\r\n  \"appId\": \"67a9d442-4966-43b9-9642-449d5bf19639\",\r\n  \"appMetadata\": null,\r\n  \"appOwnerTenantId\": \"1449d5b7-8a83-47db-ae4c-9b03e888bad0\",\r\n  \"appPermissions\": [],\r\n  \"authenticationPolicy\": null,\r\n  \"displayName\": \"adApplication3662\",\r\n  \"errorUrl\": null,\r\n  \"explicitAccessGrantRequired\": false,\r\n  \"homepage\": \"http://adApplication3662/home\",\r\n  \"keyCredentials\": [],\r\n  \"logoutUrl\": null,\r\n  \"microsoftFirstParty\": null,\r\n  \"passwordCredentials\": [],\r\n  \"publisherName\": \"RBAC Testing\",\r\n  \"replyUrls\": [\r\n    \"http://adApplication3662/home\"\r\n  ],\r\n  \"resourceApplicationSet\": null,\r\n  \"samlMetadataUrl\": null,\r\n  \"servicePrincipalNames\": [\r\n    \"67a9d442-4966-43b9-9642-449d5bf19639\",\r\n    \"http://adApplication3662/home\"\r\n  ],\r\n  \"tags\": [],\r\n  \"webApi\": null,\r\n  \"webApp\": null\r\n}",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "LMVcl34Umd8EgPiXV4RUQjHSAddv4CQNq20AQpsfe4E="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "kYggyvJk7s8ps3EtsPhzwQ3j_lchKsBbdFgI23c9eBa5g7bVoOgas58TAJL0UXxZ0vshYhqd4BgzaRdRzrC6lyN4PgFp3piKiTHuWwZUlhDIdiHH423qE4UydGCR22uoV87IuYsZF2mm5nAf_-Y1SA.fECa6m9h5hgMiBdfNXQvHWXcI7fN9rVcj1O87MWUOPU"
        ],
        "DataServiceVersion": [
          "3.0;"
        ],
        "Location": [
          "https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/directoryObjects/e3e930e7-4c88-45d2-bdce-f9ed7e86293c/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal"
        ]
      },
      "StatusCode": 201
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals?$filter=startswith(displayName,'adApplication3662')&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/1449d5b7-8a83-47db-ae4c-9b03e888bad0/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"e3e930e7-4c88-45d2-bdce-f9ed7e86293c\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"appDisplayName\": \"adApplication3662\",\r\n      \"appId\": \"67a9d442-4966-43b9-9642-449d5bf19639\",\r\n      \"appMetadata\": null,\r\n      \"appOwnerTenantId\": \"1449d5b7-8a83-47db-ae4c-9b03e888ba[...]
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/servicePrincipals/e3e930e7-4c88-45d2-bdce-f9ed7e86293c?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "LMVcl34Umd8EgPiXV4RUQjHSAddv4CQNq20AQpsfe4E="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "YQ61Ga43K_SaVPm9pk6AexcsOgul7bGXXu1ZgI-pz1ap4L8V0-Vn1hETvnU766azacRCmOtvy2ubnTomByXxzJAnkcpHTdvJcC2uDSWk99yQgqLP4wjpXFkNwMlBn6WzPMG_J76llMg09JdD9IbFEQ.zjqf0JC_m5bboUEyb2UNMbRLd9jCuG9-ccr9fY11lkQ"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    },
    {
      "RequestUri": "/1449d5b7-8a83-47db-ae4c-9b03e888bad0/applications/6cf6cbab-3819-41eb-8e77-62f056015a5b?api-version=1.42-previewInternal",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "ocp-aad-diagnostics-server-name": [
          "LMVcl34Umd8EgPiXV4RUQjHSAddv4CQNq20AQpsfe4E="
        ],
        "x-ms-gateway-rewrite": [
          "false"
        ],
        "x-ms-dirapi-data-contract-version": [
          "1.42-previewInternal"
        ],
        "ocp-aad-session-key": [
          "1m7y-RralXbnAPuo0z9aXFBPfNAQ3aBby5jvVYyAcXtA5hsAdBM8X3BM3ZkMka58PVToW7O3hevACeq7mhqTQRYqNgax9j99fqcdMIatYbq2PIfL0dJdRAU3ABu4OW92aZQgpGEPPMqUaXbc4DWFcA.FT-knwDzLyRbC-M0iDgDCanfAWGs-jHwNW6A80wUNBI"
        ],
        "DataServiceVersion": [
          "1.0;"
        ]
      },
      "StatusCode": 204
    }
  ],
  "Names": {
    "<TestGetADServicePrincipalWithSearchString>b__3e": [
      "adApplication3662"
    ]
  },
  "Variables": {
    "SubscriptionId": "db1ab6f0-4769-4b27-930e-01e2ef9c123c",
    "TenantId": "1449d5b7-8a83-47db-ae4c-9b03e888bad0",
    "Domain": "rbactest.onmicrosoft.com"
  }
}