{
  "Entries": [
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/servicePrincipals?$filter=startswith(displayName,'test')&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"b3c66aa6-88d1-45f6-84e7-78c8533e6f8e\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"appDisplayName\": null,\r\n      \"appId\": \"2ea393b4-a948-46e2-b604-1d79bef4856c\",\r\n      \"appMetadata\": null,\r\n      \"appOwnerTenantId\": null,\r\n      \"appPermissions\": [],\r\n      \"authenticationPolicy\": null,\r\n      \"displayName\": \"test\",\r\n      \"errorUrl\": null,\r\n      \"explicitAccessGrantRequired\": false,\r\n      \"homepage\": null,\r\n      \"keyCredentials\": [\r\n        {\r\n          \"customKeyIdentifier\": null,\r\n          \"endDate\": \"2014-01-01T03:40:57.1188547Z\",\r\n          \"keyId\": \"091f5cae-42a6-410f-8cc4-80e56dc42c54\",\r\n          \"startDate\": \"2013-01-01T03:40:57.1188547Z\",\r\n          \"type\": \"Symmetric\",\r\n          \"usage\": \"Verify\",\r\n          \"value\": null\r\n        },\r\n        {\r\n          \"customKeyIdentifier\": null,\r\n          \"endDate\": \"2014-01-01T03:40:57.1188547Z\",\r\n          \"keyId\": \"1b9bb830-79d2-4c16-90c1-f54dc9417fcd\",\r\n          \"startDate\": \"2013-01-01T03:40:57.1188547Z\",\r\n          \"type\": \"Symmetric\",\r\n          \"usage\": \"Sign\",\r\n          \"value\": null\r\n        }\r\n      ],\r\n      \"logoutUrl\": null,\r\n      \"microsoftFirstParty\": null,\r\n      \"passwordCredentials\": [\r\n        {\r\n          \"customKeyIdentifier\": null,\r\n          \"endDate\": \"2014-01-01T03:40:57.1188547Z\",\r\n          \"keyId\": \"5b4596d4-d692-48ed-956d-6bee00e72b40\",\r\n          \"startDate\": \"2013-01-01T03:40:57.1188547Z\",\r\n          \"value\": null\r\n        }\r\n      ],\r\n      \"publisherName\": null,\r\n      \"replyUrls\": [\r\n        \"https://microsoft.sharepoint.com/teams/spo\"\r\n      ],\r\n      \"resourceApplicationSet\": null,\r\n      \"samlMetadataUrl\": null,\r\n      \"servicePrincipalNames\": [\r\n        \"2ea393b4-a948-46e2-b604-1d79bef4856c\",\r\n        \"2ea393b4-a948-46e2-b604-1d79bef4856c/test\"\r\n      ],\r\n      \"tags\": [],\r\n      \"webApi\": null,\r\n      \"webApp\": null\r\n    },\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal\",\r\n      \"objectType\": \"ServicePrincipal\",\r\n      \"objectId\": \"d3991836-1d02-448d-afe5-0102928b461b\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"accountEnabled\": true,\r\n      \"appDisplayName\": null,\r\n      \"appId\": \"b477277a-9139-46c8-bb96-2ef861f7440b\",\r\n      \"appMetadata\": null,\r\n      \"appOwnerTenantId\": null,\r\n      \"appPermissions\": [],\r[...]
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/directoryObjects/$/Microsoft.WindowsAzure.ActiveDirectory.ServicePrincipal?$filter=startswith(displayName,'test')&$skiptoken=X'44537074020001000000000000000010000000D292B9118EBFBE43907D9BF83D75573300000000'&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2[...]
