{
  "Entries": [
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/users?&$filter=startswith(displayName,'test')&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n      \"objectType\": \"User\",\r\n      \"objectId\": \"24276b59-306d-49ce-9ca2-e444de039ed4\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"acceptedAs\": null,\r\n      \"acceptedOn\": null,\r\n      \"accountEnabled\": true,\r\n      \"alternativeSecurityIds\": [],\r\n      \"appMetadata\": null,\r\n      \"assignedLicenses\": [\r\n        {\r\n          \"disabledPlans\": [\r\n            \"0feaeb32-d00e-4d66-bd5a-43b5b83db82c\"\r\n          ],\r\n          \"skuId\": \"1fa9556c-c37f-44c5-9d9d-d326642b2885\"\r\n        },\r\n        {\r\n          \"disabledPlans\": [\r\n            \"5dbe027f-2339-4123-9542-606e4d348a72\"\r\n          ],\r\n          \"skuId\": \"ed659f76-ab99-414a-ab3b-70e96ab4dd8a\"\r\n        },\r\n        {\r\n          \"disabledPlans\": [\r\n            \"e95bec33-7c88-4a70-8e19-b10bd9d0c014\",\r\n            \"5dbe027f-2339-4123-9542-606e4d348a72\"\r\n          ],\r\n          \"skuId\": \"f82a60b8-1ee3-4cfb-a4fe-1c6a53c2656c\"\r\n        },\r\n        {\r\n          \"disabledPlans\": [],\r\n          \"skuId\": \"c5928f49-12ba-48f7-ada3-0d743a3601d5\"\r\n        }\r\n      ],\r\n      \"assignedPlans\": [\r\n        {\r\n          \"assignedTimestamp\": \"2014-05-24T08:22:05Z\",\r\n          \"capabilityStatus\": \"Enabled\",\r\n          \"service\": \"MicrosoftOffice\",\r\n          \"servicePlanId\": \"43de0ff5-c92c-492b-9116-175376d08c38\"\r\n        },\r\n        {\r\n          \"assignedTimestamp\": \"2014-05-24T08:22:05Z\",\r\n          \"capabilityStatus\": \"Enabled\",\r\n          \"service\": \"RMSOnline\",\r\n          \"servicePlanId\": \"bea4c11e-220a-4e6d-8eb8-8ea15d019f90\"\r\n        },\r\n        {\r\n          \"assignedTimestamp\": \"2014-05-24T08:22:05Z\",\r\n          \"capabilityStatus\": \"Enabled\",\r\n          \"service\": \"SharePoint\",\r\n          \"servicePlanId[...]
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/directoryObjects/$/Microsoft.WindowsAzure.ActiveDirectory.User?$filter=startswith(displayName,'test')&$skiptoken=X'44537074020001000000000000000010000000BFAA8D28DF88064CBFF90212846B4E2000000000'&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/[...]
