{
  "Entries": [
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/groups?&$filter=startswith(displayName,'test')&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Group\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"6fea66fe-96de-40e8-8a08-f1597f981542\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"appMetadata\": null,\r\n      \"exchangeResources\": [],\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": true,\r\n      \"displayName\": \"test\",\r\n      \"groupType\": null,\r\n      \"isPublic\": null,\r\n      \"lastDirSyncTime\": \"2012-08-15T23:28:33Z\",\r\n      \"licenseAssignment\": [],\r\n      \"mail\": null,\r\n      \"mailNickname\": \"Test\",\r\n      \"mailEnabled\": false,\r\n      \"onPremiseSecurityIdentifier\": null,\r\n      \"provisioningErrors\": [],\r\n      \"proxyAddresses\": [],\r\n      \"securityEnabled\": true,\r\n      \"sharepointResources\": []\r\n    },\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Group\",\r\n      \"objectType\": \"Group\",\r\n      \"objectId\": \"296dce04-b31c-4619-aa9a-af0aba399898\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"appMetadata\": null,\r\n      \"exchangeResources\": [],\r\n      \"description\": null,\r\n      \"dirSyncEnabled\": true,\r\n      \"displayName\": \"test\",\r\n      \"groupType\": null,\r\n      \"isPublic\": null,\r\n      \"lastDirSyncTime\":[...]
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/directoryObjects/$/Microsoft.WindowsAzure.ActiveDirectory.Group?$filter=startswith(displayName,'test')&$skiptoken=X'445370740200010000000000000000100000002821308CBC0B6F40984D0775AD1202FA00000000'&api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47[...]
[...]
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/groups/fa483044-b7a0-4878-98f7-068892411e92?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects/Microsoft.WindowsAzure.ActiveDirectory.Group/@Element\",\r\n  \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.Group[...]
    {
      "RequestUri": "/72f988bf-86f1-41af-91ab-2d7cd011db47/groups/fa483044-b7a0-4878-98f7-068892411e92/members?api-version=1.42-previewInternal",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://graph.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/$metadata#directoryObjects\",\r\n  \"value\": [\r\n    {\r\n      \"odata.type\": \"Microsoft.WindowsAzure.ActiveDirectory.User\",\r\n      \"objectType\": \"User\",\r\n      \"objectId\": \"1a67e91c-656b-4385-89f2-25d42be36d42\",\r\n      \"softDeletionTimestamp\": null,\r\n      \"acceptedAs\": null,\r\n      \"acceptedOn\": null,\r\n      \"accountEnabled\": true,\r\n      \"alternativeSecurityIds\": [],\r\n      \"appMetadata\": null,\r\n      \"assignedLicenses\": [\r\n        {\r\n          \"disabledPlans\": [\r\n            \"5dbe027f-2339-4123-9542-606e4d348a72\"\r\n          ],\r\n          \"skuId\": \"ed659f76-ab99-414a-ab3b-70e96ab4dd8a\"\r\n        },\r\n        {\r\n          \"disabledPlans\": [\r\n            \"e95bec33-7c88-4a70-8e19-b10bd9d0c014\",\r\n            \"5dbe027f-2339-4123-9542-606e4d348a72\"\r\n          ],\r\n          \"skuId\": \"f82a60b8-1ee3-4cfb-a4fe-1c6a53c2656c\"\r\n        },\r\n        {\r\n          \"disabledPlans\": [\r\n            \"0feaeb32-d00e-4d66-bd5a-43b5b83db82c\"\r\n          ],\r\n          \"skuId\": \"1fa9556c-c37f-44c5-9d9d-d326642b2885\"\r\n        },\r\n        {\r\n          \"disabledPlans\": [],\r\n          \"skuId\": \"c5928f49-12ba-48f7-ada3-0d743a3601d5\"\r\n        }\r\n      ],\r\n      \"assignedPlans\": [\r\n        {\r\n          \"assignedTimestamp\": \"2014-06-05T08:42:19Z\",\r\n          \"capabilityStatus\": \"Enabled\",\r\n          \"service\": \"SharePoint\",\r\n          \"servicePlanId\": \"2125cfd7-2110-4567-83c4-c1cd5275163d\"\r\n        },\r\n        {\r\n          \"assignedTimestamp\": \"2014-06-05T08:42:19Z\",\r\n          \"capabilityStatus\": \"Enabled\",\r\n          \"service\": \"SharePoint\",\r\n          \"servicePlanId\": \"5dbe027f-2339-4123-9542-606e4d348a72\"\r\n        },\r\n        {\r\n          \"assignedTimestamp\": \"2014-06-05T08:42:19Z\",\r\n          \"capabilityStatus\": \"Enabled\",\r\n          \"service\": \"SharePoint\",\r\n          \"servicePlanI[...]
[...]
