{
  "Entries": [
    {
      "RequestUri": "/subscriptions/1165e0f9-4535-44ce-bc6b-c73c00b5fb2c/resourcegroups/onesdk4300?api-version=2014-04-01-preview",
      "RequestMethod": "HEAD",
      "RequestBody": "",
      "RequestHeaders": {
      },
      "ResponseBody": "",
      "ResponseHeaders": {
        "x-ms-ratelimit-remaining-subscription-reads": [
          "31971"
        ]
      },
      "StatusCode": 404
    }
  ],
  "Names": {
    "Test-RemoveNonExistingResourceGroup": [
      "onesdk4300"
    ]
  },
  "Variables": {
    "SubscriptionId": "1165e0f9-4535-44ce-bc6b-c73c00b5fb2c"
  }
}