{
  "Entries": [
    {
      "RequestUri": "/1eeeb395-21c8-4ae0-b145-2abd2dfe501d/roleDefinitions",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-21"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://aad-pas-nova-by1-001.cloudapp.net/1eeeb395-21c8-4ae0-b145-2abd2dfe501d/$metadata#roleDefinitions\",\r\n  \"value\": [\r\n    {\r\n      \"roleId\": \"be21d9e2-3caf-4ef2-a7b2-5339196d939b\",\r\n      \"appId\": \"6ead6d32-1d83-4559-bc85-d7b5b2a2f8e8\",\r\n      \"name\": \"Operator\",\r\n      \"description\": \"Operator role allowing reads, updates, and actions\",\r\n      \"scope\": \"/\",\r\n      \"permissions\": [\r\n        {\r\n          \"actions\": [\r\n            \"*/read\",\r\n            \"*/update\",\r\n            \"*/action\"\r\n          ]\r\n        }\r\n      ]\r\n    },\r\n    {\r\n      \"roleId\": \"acdd72a7-3385-48ef-bd42-f606fba81ae7\",\r\n      \"appId\": \"6ead6d32-1d83-4559-bc85-d7b5b2a2f8e8\",\r\n      \"name\": \"Reader\",\r\n      \"description\": \"Reader role allowing only read operations\",\r\n      \"scope\": \"/\",\r\n      \"permissions\": [\r\n        {\r\n          \"actions\": [\r\n            \"*/read\"\r\n [...]
    {
      "RequestUri": "/1eeeb395-21c8-4ae0-b145-2abd2dfe501d/roleDefinitions(guid'be21d9e2-3caf-4ef2-a7b2-5339196d939b')",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "x-ms-version": [
          "2014-05-21"
        ]
      },
      "ResponseBody": "{\r\n  \"odata.metadata\": \"https://aad-pas-nova-by1-001.cloudapp.net/1eeeb395-21c8-4ae0-b145-2abd2dfe501d/$metadata#roleDefinitions/@Element\",\r\n  \"roleId\": \"be21d9e2-3caf-4ef2-a7b2-5339196d939b\",\r\n  \"appId\": \"6ead6d32-1d83-4559-bc85-d7b5b2a2f8e8\",\r\n  \"name\": \"Operator\",\r\n  \"description\": \"Operator role allowing reads, updates, and actions\",\r\n  \"scope\": \"/\",\r\n  \"permissions\": [\r\n    {\r\n      \"actions\": [\r\n        \"*/read\",\r\n        \"*/update\",\r\n        \"*/action\"\r\n      ]\r\n    }\r\n  ]\r\n}",
      "ResponseHeaders": {
        "DataServiceVersion": [
          "3.0"
        ]
      },
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {
    "SubscriptionId": "1eeeb395-21c8-4ae0-b145-2abd2dfe501d"
  }
}